.searchInputSearchBar {
  width: 40%;

  border: none;

  padding: 0px 10px 0px 0px;
  margin-bottom: 20px;

  transition: all ease;

  border-bottom: 4px solid grey;
}

.arrowRightIcon {
    border-radius: 51% 49% 100% 0% / 100% 100% 0% 0% ;
    cursor: pointer;
    transition: all ease-in 0.3s;
}

.arrowRightIcon:hover{
    background-color: silver;
}
